<!DOCTYPE html>
<html lang="en-nz">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Kelvin Games"/>
  <link href="../static/css/header.css" rel="stylesheet"/>
  <link href="../static/css/footer.css" rel="stylesheet"/>
  <link href="../static/css/about.css" rel="stylesheet">
  <link href="../static/css/sidebar.css" rel="stylesheet"/>
  <script src="../static/js/hamburger.js" defer></script>
  <title>About</title>
</head>
<body>
{% include 'header.html' %}
{% include 'sidebar.html' %}
<main>
  <article class="hero">
    <img src="../static/img/logo-full.png" alt="Kelvin Games Logo"
         class="hero-logo">
    <img src="../static/img/homepageHero.png" alt="An image of many games"
         class="hero-background">
  </article>
  <article class="about">
    <h2>About Kelvin Games</h2>
    <p class="about__paragraph">
      Welcome to Kelvin Games – a platform that redefines the gaming
      experience.
      At Kelvin Games, our mission is to provide you with an unparalleled
      journey into the world of gaming, where boundaries are shattered, and
      possibilities are endless.
    </p>
    <p class="about__paragraph">
      Our platform showcases a meticulously curated collection of games that
      cater to diverse tastes, from heart-pounding action to brain-teasing
      puzzles, epic RPGs to innovative indies. Each game has been handpicked to
      meet the highest standards of quality, ensuring an exceptional experience
      for every gamer.
    </p>
    <p class="about__paragraph">
      What sets Kelvin Games apart is not just the games we offer, but how we
      offer them. Our user-friendly interface and advanced recommendation
      system tailor your gaming journey to your preferences, ensuring you
      discover new titles that resonate with your taste.
    </p>
    <p class="about__paragraph">
      Kelvin Games is powered by the latest web technologies, including the
      Flask framework. Our dedicated team of developers, including Mihir Patil,
      Aziz Patel, and Senu Senathirajah, hailing from the University of
      Auckland, has crafted this platform to seamlessly connect gamers with the
      content they love.
    </p>
    <p class="about__paragraph">
      Thank you for joining us on this exciting adventure. Experience the
      future of gaming with Kelvin Games – where entertainment knows no bounds.
    </p>
  </article>
  <article class="about">
    <h2>About the Developers</h2>
    <p class="about__paragraph">
      Meet the minds behind Kelvin Games - Mihir Patil, Aziz Patel, and Senu
      Senathirajah. We're passionate second-year Computer Science students at
      the University of Auckland, aged 18, 19, and 20. Our diverse skills and
      shared love for technology led us to embark on this journey to create an
      innovative gaming platform that caters to players of all types.
    </p>
    <p class="about__paragraph">
      Mihir is an avid cricket player and gym enthusiast. Aziz is a gaming
      aficionado who enjoys titles like Clash of Clans and Call of Duty,
      alongside his passion for fitness. Senu is a driven student pursuing a
      conjoint degree in Computer Science and Finance, he is a gun soccer
      player as well. Together, we're united
      by our goal to deliver a top-tier gaming experience through Kelvin Games.
    </p>
  </article>
</main>
{% include 'footer.html' %}
</body>
</html>
