<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Games</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Kelvin Games"/>
  <link rel="stylesheet" href="../static/css/gameLibStyle.css"/>
  <link href="../static/css/sidebar.css" rel="stylesheet"/>
  <link href="../static/css/header.css" rel="stylesheet"/>
  <link href="../static/css/footer.css" rel="stylesheet"/>
  <script src="../static/js/hamburger.js" defer></script>
  <link href="../static/css/scrollbar.css" rel="stylesheet"/>
  <script src="../static/js/scrollbar.js" defer></script>
</head>
<body>
<header>
  {% include 'header.html' %}
  {% include 'sidebar.html' %}
</header>
<main class="main">
  {% include 'scrollbar.html' %}
  <div class="slideshow">
    {% for game in slide_genre_games %}
      <img src="{{ game.header_image }}" class="bg-img bgSlides fade" alt="">
    {% endfor %}
    <p class="pageHeading"> {{ heading }}</p>
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <div class="slideContent blur">
    {% for game in slide_genre_games %}
        <div class="slide">
          <a href="/games-description/{{ game.game_id }}" class="game-link">
            <div class="gameInfo">
              <img src="{{ game.header_image }}" alt="GameImg" class="game-img">
              <div class="game-details">
                <div class="game-title">{{ game.title }}</div>
                <div class="game-price">{{ game.price }}</div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <a class="next" onclick="plusSlides(1)">❯</a>
  </div>
  <div class="page">
    <div class="content">
      <div class="tab-container">
        {% for genre in all_genres %}
          <a href="{{ genre_urls[genre] }}">
            <div class="tab">
              {{ genre }}
            </div>
          </a>

        {% endfor %}
      </div>
      <div class="pagination-container">
        {{ pagination.info|safe }}
        <form action="{{ url_for('viewGames_bp.games_by_genre') }}"
              method="GET">
          <label for="sort-criteria" class="sort-criteria-label">
            <select id="sort-criteria" name="sort_criteria"
                    class="pagination-page-info">
              <option value="title">Title</option>
              <option value="game_id">Game ID</option>
              <option value="release_date">Release Date</option>
              <option value="price">Price</option>
            </select>
          </label>
          <input type="hidden" name="genre"
                 value="{{ request.args.get('genre') }}">
          <button type="submit" class="pagination-page-info">Sort</button>
        </form>
      </div>
      <div class="gameContainer">
        {% for game in games[0:2] %}
          <a href="/games-description/{{ game.game_id }}">
            <div class="game-box-2">
              <div class="game-image">
                <img src="{{ game.header_image }}" alt="Game 1">
              </div>
              <div class="game-info">
                <div class="info-row">
                  <h3 class="title_2row">{{ game.title }}</h3>
                  <p class="game-id">{{ game.game_id }}</p>
                </div>
                <p class="game-price">${{ game.price }}</p>
                {% if 'username' in session %}
                  {% if game in wishlist %}
                    <a href="{{ url_for('pp_bp.remove_from_wishlist', game_id=game.game_id) }}">Remove
                      from Wishlist</a>
                  {% else %}
                    <form class="wish-sub" method="POST"
                          action="{{ url_for('pp_bp.add_to_wishlist', game_id=game.game_id) }}">
                      {{ form.hidden_tag() }}
                      <a href="#" onclick="submitFunction(this)">Add to
                        Wishlist</a>
                    </form>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="gameContainer">
        {% for game in games[2:5] %}
          <a href="/games-description/{{ game.game_id }}">
            <div class="game-box-3">
              <div class="game-image">
                <img src="{{ game.header_image }}" alt="Game 1">
              </div>
              <div class="game-info">
                <div class="info-row">
                  <h3 class="title_3row">{{ game.title }}</h3>
                  <p class="game-id">{{ game.game_id }}</p>
                </div>
                <p class="game-price">${{ game.price }}</p>
                {% if 'username' in session %}
                  {% if game in wishlist %}
                    <a href="{{ url_for('pp_bp.remove_from_wishlist', game_id=game.game_id) }}">Remove
                      from Wishlist</a>
                  {% else %}
                    <form class="wish-sub" method="POST"
                          action="{{ url_for('pp_bp.add_to_wishlist', game_id=game.game_id) }}">
                      {{ form.hidden_tag() }}
                      <a href="#" onclick="submitFunction(this)">Add to
                        Wishlist</a>
                    </form>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="gameContainer">
        {% for game in games[5:7] %}
          <a href="/games-description/{{ game.game_id }}">
            <div class="game-box-2">
              <div class="game-image">
                <img src="{{ game.header_image }}" alt="Game 1">
              </div>
              <div class="game-info">
                <div class="info-row">
                  <h3 class="title_2row">{{ game.title }}</h3>
                  <p class="game-id">{{ game.game_id }}</p>
                </div>
                <p class="game-price">${{ game.price }}</p>
                {% if 'username' in session %}
                  {% if game in wishlist %}
                    <a href="{{ url_for('pp_bp.remove_from_wishlist', game_id=game.game_id) }}">Remove
                      from Wishlist</a>
                  {% else %}
                    <form class="wish-sub" method="POST"
                          action="{{ url_for('pp_bp.add_to_wishlist', game_id=game.game_id) }}">
                      {{ form.hidden_tag() }}
                      <a href="#" onclick="submitFunction(this)">Add to
                        Wishlist</a>
                    </form>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="gameContainer">
        {% for game in games[7:10] %}
          <a href="/games-description/{{ game.game_id }}">
            <div class="game-box-3">
              <div class="game-image">
                <img src="{{ game.header_image }}" alt="Game 1">
              </div>
              <div class="game-info">
                <div class="info-row">
                  <h3 class="title_3row">{{ game.title }}</h3>
                  <p class="game-id">{{ game.game_id }}</p>
                </div>
                <p class="game-price">${{ game.price }}</p>
                {% if 'username' in session %}
                  {% if game in wishlist %}
                    <a href="{{ url_for('pp_bp.remove_from_wishlist', game_id=game.game_id) }}">Remove
                      from Wishlist</a>
                  {% else %}
                    <form class="wish-sub" method="POST"
                          action="{{ url_for('pp_bp.add_to_wishlist', game_id=game.game_id) }}">
                      {{ form.hidden_tag() }}
                      <a href="#" onclick="submitFunction(this)">Add to
                        Wishlist</a>
                    </form>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      {{ pagination.links|safe }}
    </div>
  </div>
  {% include 'footer.html' %}
</main>
<script>
  let slideIndex = 1;
  let intervalId;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("slide");
    let bgSlides = document.getElementsByClassName("bgSlides")
    if (n > slides.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      bgSlides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
    bgSlides[slideIndex - 1].style.display = "block";
  }

  function startSlideshow() {
    // Clear any existing interval
    clearInterval(intervalId);
    // Start a new interval to change slides every 2 seconds
    intervalId = setInterval(function () {
      plusSlides(1);
    }, 5000);
  }

  // Start the slideshow initially
  startSlideshow();

  //Submit Function
  function submitFunction(link) {
    link.closest(".wish-sub").submit();
  }
</script>

</body>
</html>