<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Games</title>
    <link rel="stylesheet" href="../static/css/gameLibStyle.css"/>
</head>
<body>
    <header>

    </header>
    <main class="main">
        <div class="slideshow">
            <div class="bg-img">
            </div>
            <p class="pageHeading"> Featured Games</p>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <div class="slideContent blur">
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
            </div>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <div class="page">
            <div class="content">
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
                <p>Check center margin.</p>
            </div>
        </div>
    </main>

</body>
</html>