<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Games</title>
    <link rel="stylesheet" href="../static/css/gameLibStyle.css"/>
</head>
<body>
    <header>

    </header>
    <main class="main">
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
        <p>Check center margin.</p>
    </main>

</body>
</html>