<!DOCTYPE html>

<html lang="en-nz">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Kelvin Games"/>
  <meta name="description"
        content="This is the homepage for Kelvin Games"/>
  <link href="../static/css/sidebar.css" rel="stylesheet"/>
  <link href="../static/css/header.css" rel="stylesheet"/>
  <link href="../static/css/footer.css" rel="stylesheet"/>
  <link href="../static/css/index.css" rel="stylesheet"/>
  <link href="../static/css/scrollbar.css" rel="stylesheet"/>
  <script src="../static/js/hamburger.js" defer></script>
  <script src="../static/js/scrollbar.js" defer></script>
  <title>Home</title>
</head>

<body>
<header>
  {% include 'header.html' %}
  {% include 'sidebar.html' %}
</header>
<main>
    {% include 'scrollbar.html' %}
  <article class="hero">
    <img src="../static/img/logo-full.png" alt="Kelvin Games Logo"
         class="hero-logo">
    <img src="../static/img/homepageHero.png" alt="An image of many games"
         class="hero-background">
  </article>
  <article class="about">
    <p class="about__paragraph">
      Welcome to Kelvin Games – Your Gateway to Infinite Gaming Excitement!
    </p>
    <p class="about__paragraph">
      At Kelvin Games, we're dedicated to bringing you an unparalleled gaming
      experience that transcends boundaries and opens up a universe of
      immersive entertainment. Whether you're a casual gamer seeking
      captivating adventures or a dedicated enthusiast searching for the next
      big challenge, we've got something extraordinary in store for you.
    </p>
    <p class="about__paragraph">
      Our passion for gaming fuels our commitment to curate a diverse
      collection of titles that span genres, platforms, and styles. From
      pulse-pounding action to mind-bending puzzles, epic RPGs to innovative
      indies – we've meticulously handpicked each game to ensure that it meets
      the highest standards of quality and entertainment.
    </p>
    <p class="about__paragraph">
      As we continue to evolve and expand, we remain committed to delivering
      excellence in every facet of your gaming journey. Our dedication to
      innovation, customer satisfaction, and a seamless user experience is the
      foundation upon which Kelvin Games stands. Join us on this epic adventure
      as we redefine the way you play, connect, and experience the world of
      gaming.
    </p>
    <p class="about__paragraph">
      Thank you for choosing Kelvin Games – where endless excitement and
      unforgettable gaming memories await. Let's embark on this adventure
      together!
    </p>
    <p class="about__paragraph">
      Experience. Explore. Enjoy. Kelvin Games.
    </p>
  </article>
</main>
{% include 'footer.html' %}
</body>
</html>