<!DOCTYPE html>

<html lang="en-nz">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="CS235" />
    <meta name="description" content="This is the homepage for the CS235 Game Library" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <title>Home</title>
  </head>

  <body>
    <header>
      <aside class="sidebar">
        <section class="sidebar__section">
          <h2 class="sidebar__heading">Browse by Category</h2>
          <ul class="sidebar__ul">
            <li class="sidebar__li">
              <a href="#">Single-Player</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Multi-Player</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Co-op</a>
            </li>
            <li class="sidebar__li">
              <a href="#">PvP</a>
            </li>
            <li class="sidebar__li">
              <a href="#">VR</a>
            </li>
            <li class="sidebar__li">
              <a href="#">MMO</a>
            </li>

          </ul>
        </section>

        <section class="sidebar__section">
          <h2 class="sidebar__heading">Browse by Genre</h2>
          <ul class="sidebar__ul">
            <li class="sidebar__li">
              <a href="#">Free to Play</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Action</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Adventure</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Indie</a>
            </li>
            <li class="sidebar__li">
              <a href="#">RPG</a>
            </li>
            <li class="sidebar__li">
              <a href="#">MMO</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Sports</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Racing</a>
            </li>
            <li class="sidebar__li">
              <a href="#">Strategy</a>
            </li>

          </ul>
        </section>
      </aside>
    </header>

  </body>
</html>