<!DOCTYPE html>

<html lang="en-nz">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="CS235"/>
    <meta name="description"
          content="This is the homepage for the CS235 Game Library"/>
    <link href="../static/css/sidebar.css" rel="stylesheet"/>
    <link href="../static/css/header.css" rel="stylesheet"/>
    <script src="../static/js/hamburger.js" defer></script>
    <title>Home</title>
</head>

<body>
<header>
    {% include 'header.html' %}
    {% include 'sidebar.html' %}
</header>

</body>
</html>