<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Kelvin Games"/>
  <link href="../static/css/sidebar.css" rel="stylesheet"/>
  <link href="../static/css/header.css" rel="stylesheet"/>
  <link href="../static/css/searchResults.css" rel="stylesheet"/>
  <link href="../static/css/footer.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/css/gameLibStyle.css"/>
  <script src="../static/js/hamburger.js" defer></script>
</head>
<body>
<header>
  {% include 'header.html' %}
  {% include 'sidebar.html' %}
</header>
<main class="main">
  <div class="page">
    <div class="content">
      {% block title %}{% endblock %}

      {% block content %}
        <h2>Search Results</h2>
        {% if games %}
          {{ pagination.info|safe }}
          <div class="gameContainer">
            {% for game in games[0:2] %}
              <div class="game-box-2">
                <img src="{{ game.header_image }}" alt="Game 1">
                <h3>{{ game.title }}</h3>
                <p>{{ game.game_id }}</p>
                <a href="/games-description/{{ game.game_id }}">View Game</a>
              </div>
            {% endfor %}
          </div>
          <div class="gameContainer">
            {% for game in games[2:5] %}
              <div class="game-box-3">
                <img src="{{ game.header_image }}" alt="Game 1">
                <h3>{{ game.title }}</h3>
                <p>{{ game.game_id }}</p>
                <a href="/games-description/{{ game.game_id }}">View Game</a>
              </div>
            {% endfor %}
          </div>
          <div class="gameContainer">
            {% for game in games[5:7] %}
              <div class="game-box-2">
                <img src="{{ game.header_image }}" alt="Game 1">
                <h3>{{ game.title }}</h3>
                <p>{{ game.game_id }}</p>
                <a href="/games-description/{{ game.game_id }}">View Game</a>
              </div>
            {% endfor %}
          </div>
          <div class="gameContainer">
            {% for game in games[7:10] %}
              <div class="game-box-3">
                <img src="{{ game.header_image }}" alt="Game 1">
                <h3>{{ game.title }}</h3>
                <p>{{ game.game_id }}</p>
                <a href="/games-description/{{ game.game_id }}">View Game</a>
              </div>
            {% endfor %}
          </div>
          {{ pagination.links|safe }}
        {% else %}
          <article class="no-results">
            <section class="no-result-heading">
              <p>Your search query did not return any results.</p>
            </section>
            <section class="no-result-suggest">
              <ul class="no-result-suggest-ul">
                <li class="no-result-suggest-li">Make sure all words are
                  spelled correctly.
                </li>
                <li class="no-result-suggest-li">Check you have selected the
                  correct search criteria.
                </li>
                <li class="no-result-suggest-li">Try different keywords.</li>
                <li class="no-result-suggest-li">Try more general keywords.
                </li>
              </ul>
            </section>
          </article>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</main>
{% include 'footer.html' %}
</body>
</html>