<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/sidebar.css" rel="stylesheet"/>
    <link href="../static/css/header.css" rel="stylesheet"/>
    <link href="../static/css/footer.css" rel="stylesheet"/>
    <link href="../static/css/gameLibStyle.css" rel="stylesheet"/>
    <link href="../static/css/userProfile.css" rel="stylesheet"/>
    <script src="../static/js/hamburger.js" defer></script>
    <link href="../static/css/scrollbar.css" rel="stylesheet"/>
    <script src="../static/js/scrollbar.js" defer></script>
</head>
<body>
<header>
  {% include 'header.html' %}
  {% include 'sidebar.html' %}
</header>
<main>
    {% include 'scrollbar.html' %}
     <div class="profile-container">
        <div class="profile-card">
            <img src="../static/img/hacker.png" alt="User Profile Picture">
            <h1>{{ user.username }}</h1>
            <p>CS220 Pro</p>
            <p>Location: Always avoids Library</p>
            <p>Email: patil@mihir.com</p>
        </div>
     <div class="wishlist-container">
        <div class="wishlist_title">
            <h1>{{ user.username }}'s Wishlist</h1>
        </div>
        <div class="pagination-container">
          {{ pagination.info|safe }}
        </div>
        <div class="gameContainer">
          {% for game in wishlist[0:2] %}
            <div class="game-box-2">
              <div class="game-image">
                <img src="{{ game.header_image }}" alt="Game 1">
              </div>
              <div class="game-info">
                <div class="info-row">
                  <h3 class="title_2row">{{ game.title }}</h3>
                  <p class="game-id">{{ game.game_id }}</p>
                </div>
                <p class="game-price">${{ game.price }}</p>
                <a href="/games-description/{{ game.game_id }}">View Game</a>
                <a href="{{ url_for('pp_bp.remove_from_wishlist', game_id=game.game_id) }}">Remove from Wishlist</a>
              </div>
            </div>
          {% endfor %}
      </div>
       <div class="gameContainer">
          {% for game in wishlist[2:5] %}
            <div class="game-box-3">
              <div class="game-image">
                <img src="{{ game.header_image }}" alt="Game 1">
              </div>
              <div class="game-info">
                <div class="info-row">
                  <h3 class="title_3row">{{ game.title }}</h3>
                  <p class="game-id">{{ game.game_id }}</p>
                </div>
                <p class="game-price">${{ game.price }}</p>
                <a href="/games-description/{{ game.game_id }}">View Game</a>
                <a href="{{ url_for('pp_bp.remove_from_wishlist', game_id=game.game_id) }}">Remove from Wishlist</a>
              </div>
            </div>
          {% endfor %}
      </div>
       <div class="gameContainer">
          {% for game in wishlist[5:7] %}
            <div class="game-box-2">
              <div class="game-image">
                <img src="{{ game.header_image }}" alt="Game 1">
              </div>
              <div class="game-info">
                <div class="info-row">
                  <h3 class="title_2row">{{ game.title }}</h3>
                  <p class="game-id">{{ game.game_id }}</p>
                </div>
                <p class="game-price">${{ game.price }}</p>
                <a href="/games-description/{{ game.game_id }}">View Game</a>
                <a href="{{ url_for('pp_bp.remove_from_wishlist', game_id=game.game_id) }}">Remove from Wishlist</a>
              </div>
            </div>
          {% endfor %}
      </div>
      {{ pagination.links|safe }}
    </div>

        <div class="activity-history-container">
            <h2>Reviewed Games</h2>
            {% for review in reviews %}
            <div class="activity-history">
                <div class="activity-item">
                    <h3>{{ review.game.title }}</h3>
                    <div class="description">
                        <div class="desc_title">
                          <p><strong>Review Date/Time:</strong></p>
                        </div>
                        <div class="desc_ans">
                          <p>{{ review.timestamp }}</p>
                        </div>
                    </div>
                    <div class="description">
                        <div class="desc_title">
                          <p><strong>Rating:</strong></p>
                        </div>
                        <div class="desc_ans">
                          <p>{{ review.rating }}</p>
                        </div>
                    </div>
                    <div class="description">
                        <div class="desc_title">
                          <p><strong>Comment:</strong></p>
                        </div>
                        <div class="desc_ans">
                          <p>{{ review.comment }}</p>
                        </div>
                    </div>
                    <a href="/games-description/{{ review.game.game_id }}">View Game</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</main>
{% include 'footer.html' %}
</body>
</html>