@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* FONT VARIABLES */
  --FF: 'Roboto', sans-serif;
  --FOOTER-FONT-COLOR: whitesmoke;

  /* COLOR VARIABLES */
  --BG-COLOR: #04293A;
  --PANE-COLOR: #064663;

  /* BORDER VARIABLES */
  --BORDER-RADIUS: 12px;

  /* PADDING VARIABLES */
  --ABOUT-PADDING: 20px;
  --HERO-PADDING: 0 15%;
  --HERO-LOGO-PADDING: 10px;

  /* BLUR VARIABLE */
  --HERO-BACKDROP-BLUR: 5px;

  /* MARGIN VARIABLES */
  --HERO-MARGIN: 0 15%;
  --ABOUT-MARGIN-TOP: 50px;
  --ABOUT-MARGIN-BOTTOM: 20px;
  --ABOUT-MARGIN-LR: 15%;
  --HERO-WIDTH: 70%;
  --HERO-POSITION: 50%;
  --HERO-LOGO-WIDTH: 50%;
  --HERO-BG-WIDTH: 100%;
  --HEADER-HEIGHT: 75px;

  /* BACKGROUND VARIABLES */
  --HERO-LOGO-BACKGROUND: rgba(0, 0, 0, 0.4);
  --HERO-BLUR: blur(5px);

  /* FONT SIZE VARIABLES */
  --ABOUT-H2-FONT-SIZE: 24px;
  --ABOUT-PARAGRAPH-FONT-SIZE: 16px;

}

/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: var(--FF);
  box-sizing: border-box;
}

main {
  margin-top: var(--HEADER-HEIGHT);
  padding-bottom: 50px;
  background-color: var(--BG-COLOR);
}

/* || HERO */
.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--HERO-PADDING);
}

.hero-content {
  position: relative;
  width: var(--HERO-WIDTH);
}

.hero-logo {
  position: absolute;
  top: var(--HERO-POSITION);
  left: var(--HERO-POSITION);
  transform: translate(-50%, -50%);
  z-index: 2;
  height: auto;
  width: var(--HERO-LOGO-WIDTH);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--HERO-LOGO-PADDING);
  background-color: var(--HERO-LOGO-BACKGROUND);
  backdrop-filter: var(--HERO-BLUR);
}

.hero-background {
  width: var(--HERO-BG-WIDTH);
  height: auto;
  z-index: 1;
}

/* || ABOUT */

.about {
  margin: var(--ABOUT-MARGIN-TOP) var(--ABOUT-MARGIN-LR);
  var(--ABOUT-MARGIN-LR) 0;
  padding: var(--ABOUT-PADDING);
  background-color: var(--PANE-COLOR);
  border-radius: var(--BORDER-RADIUS);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
  color: var(--FOOTER-FONT-COLOR);
  font-size: var(--ABOUT-H2-FONT-SIZE);
  margin-bottom: var(--ABOUT-MARGIN-BOTTOM);
}

.about__paragraph {
  margin-bottom: var(--ABOUT-MARGIN-BOTTOM);
  line-height: 1.6;
  font-size: var(--ABOUT-PARAGRAPH-FONT-SIZE);
  color: var(--FOOTER-FONT-COLOR);
}

.about__paragraph:last-child {
  margin-bottom: 0;
}
