body {
    font-family: 'Helvetica', sans-serif;
    background-color: #04293A;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.formwrapper {
    background-color: #064663;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ECB365;
}

.form-field {
    margin-bottom: 30px;
    padding-right: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 0;
}

.errors {
    color: red;
    margin-top: 5px;
    list-style-type: none;
}

.submit-button {
    /*background-color: #007bff;*/
    background-color: #ECB365;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
}

.submit-button span {
    pointer-events: none;
}

.submit-button:hover {
    /*background-color: #0056b3;*/
    background-color: #866840;
}
