@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* || VARIABLES */

:root {
  --FF: 'Roboto', sans-serif;
  --FOOTER-FONT-COLOR: white;
  --FONT-SIZE: 18px;
  --FOOTER-BG-COLOR: #041C32;
  --PANE-COLOR: #041C32;
  --PADDING: 20px;
}

/* || RESET */

* {
  font-family: var(--FF);
  margin: 0;
}

/* FOOTER */
.footer {
  background-color: var(--FOOTER-BG-COLOR);
  color: var(--FOOTER-FONT-COLOR);
  text-align: center;
  padding: var(--PADDING);
  font-size: var(--FONT-SIZE);
}