@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif
}

/* Footer */
.footer {
  background-color: #041C32;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.footer__content p {
  margin: 0;
}
