@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.bg-img {
    /*background: url("../img/CR7_BGimg.jpeg") no-repeat center;*/
    position: fixed;
    top: 0; left: 12%; right: 0; bottom: 0;
    z-index: -9;
    /*margin: auto;*/
    max-width: 1300px;
    min-width: 1300px;
    overflow: hidden;
    /*background-size: 30px 100px;*/
}

.main{
    /*max-width: 850px;*/
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -10;
}
.slideshow{
    height: 500px;
    overflow: hidden;
}
.bgSlides{
    /*display: none;*/
}
.slides{
    display: none;
}
.slides img {
    horiz-align: left;
    max-width: 300px;
    max-height: 350px;
    overflow: hidden;
    /*display: inline;*/
    border-radius: 20px;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.blur {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    height: 75%;
    max-width: 850px;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
}
.main .slideContent{
    z-index: 5;
    color: white;
}

.page{
    max-width: 100%;
    margin: initial;
    background: greenyellow;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page .content{
    background: cadetblue;
    border-radius: 20px;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    top: 0; left: 0; right: 0; bottom: 0;

}

.pageHeading{
    font-weight: bold;
    font-size: 35px;
    margin: auto;
    max-width: 850px;
    color: white;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 27%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
}
.prev {
    left: 250px;
    border-radius: 20px 20px 20px 20px;
}

/* Position the "next button" to the right */
.next {
  right: 250px;
  border-radius: 20px 20px 20px 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.4);
}

.tab-container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    align-content: space-around;
    justify-content: center;
}
.tab{
    background: white;
    padding: 12px;
    border-radius: 25px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.tab:hover{
    background-color: #555;
    transform: translateY(-5px);
}
.gameContainer{
    display: flex;
    /*flex-direction: column;*/
    padding: 10px;
    flex: 1;
    flex-wrap: wrap;
}

.game-box-2 {
  width: calc(355px);
  background-color: #397598;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.game-box-3 {
  width: calc(216px);
  background-color: #397598;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}