@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --HEADER-HEIGHT: 75px;
  --PANEL-COLOR: #064663;
}

* {
    font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  margin-top: var(--HEADER-HEIGHT);
  font-family: 'Roboto', sans-serif;
  /*background-color: rgb(24, 25, 26);*/
  background-color: #04293A;
}

.bg-img {
    position: fixed;
    top: 0; left: 12%; right: 0; bottom: 0;
    z-index: -9;
    max-width: 1300px;
    min-width: 1300px;
    overflow: hidden;
}

.main{
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -10;
}
.slideshow{
    height: 500px;
    overflow: hidden;
    margin-top: 0px;
    box-shadow: inset 250px 10px 50px rgba(4, 41, 58, 1.2), inset -250px -10px 50px rgba(4, 41, 58, 1.2);
}
.bgSlides{
    /*display: none;*/
}
.slides{
    display: none;
}

.slides img {
    horiz-align: left;
    min-width: 450px;
    /*max-height: 850px;*/
    overflow: hidden;
    /*display: inline;*/
    border-radius: 20px;
}
.gameInfo{
    display: inline-block;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.blur {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    height: 75%;
    max-width: 850px;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    /*display: flex;*/
}
.main .slideContent{
    z-index: 5;
    color: white;
}

.page{
    max-width: 100%;
    margin: initial;
    /*background: rgb(24, 25, 26);*/
    background: #04293A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page .content{
    /*background: rgb(24, 25, 26);*/
    background: #04293A;
    border-radius: 20px;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    top: 0; left: 0; right: 0; bottom: 0;

}

.pageHeading{
    font-weight: bold;
    font-size: 35px;
    margin: auto;
    max-width: 850px;
    color: white;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 37%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  /*color: black;*/
  color: #04293A;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
    left: 250px;
    border-radius: 20px 20px 20px 20px;
}

/* Position the "next button" to the right */
.next {
  right: 250px;
  border-radius: 20px 20px 20px 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.4);
}

.tab-container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}
.tab{
    background: whitesmoke;
    padding: 12px;
    border-radius: 25px;
    margin: 5px;
    transition: transform 0.3s ease;
    border: 1.7px solid #ECB365;

}
.tab a{
    text-decoration: none;
    color: #04293A;
}

.tab:hover{
    background-color: #555;
    transform: translateY(-5px);
}
.gameContainer{
    display: flex;
    padding: 10px;
    flex: 1;
    flex-wrap: wrap;
}

.game-box-2 {
  width: calc(354px);
  /*background-color: #397598;*/
  background-color: #064663;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
    padding: 0 0 10px;
}
.game-box-2:hover{
    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    /*border: 1px solid rgba(81, 203, 238, 1);*/
    transform: scale(1.05);
    box-shadow: 0 0 10px #c600d0;
}
.game-image img {
  max-width: 100%;
  height: auto;
  /*border-radius: 5px;*/
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin-bottom: 10px;
}

.game-info {
  display: flex;
  flex-direction: column;
    padding-left: 7px;
    padding-right: 7px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_2row {
  font-size: 1.2rem;
  margin: 0;
}
.title_3row{
    font-size: 1rem;
    margin: 0;
}

.game-id {
  font-size: 1rem;
  color: #999;
  margin: 0;
}

.game-price {
  font-size: 1rem;
  color: #51cbf2;
  text-align: right;
  margin: 0;
}

.game-info a {
  font-size: 1rem;
  color: #51cbf2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.game-info a:hover {
  color: #397598;
}

.game-box-3 {
  width: calc(216px);
  /*background-color: #397598;*/
    background-color: #064663;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 0 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.game-box-3:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #c600d0;
}

/*.pagination-page-info {*/
/*padding: .6em;*/
/*padding-left: 0;*/
/*width: 40em;*/
/*margin: .5em;*/
/*margin-left: 0;*/
/*font-size: 12px;*/
/*}*/
/*.pagination-page-info b {*/
/*color: white;*/
/*background: #6aa6ed;*/
/*padding-left: 2px;*/
/*padding: .1em .25em;*/
/*font-size: 150%;*/
/*}*/

/* Styling for pagination info */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-form {
    display: flex;
    align-items: center;
}

.pagination-page-info {
    font-size: 12px;
    color: #fff;
    background-color: #041C32;
    padding: 13px 13px;
    border-radius: 20px;
    margin: 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for pagination links */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    transition: transform 0.9s ease;
}

.pagination li {
    margin: 0 5px;
    transition: transform 0.2s ease;
}

.pagination a {
    text-decoration: none;
    padding: 8px 15px;
    background-color: var(--PANEL-COLOR);
    border-radius: 50px; /* Add rounded corners */
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;

}

.game-info form {
  align-self: flex-start;
}

/*.pagination :hover{*/
/*    transform: translateY(-5px);*/
/*}*/

.pagination li:hover {
    transform: translateY(-5px);
}

.pagination a:hover {
    background-color: #041C32;
    color: #fff;
}
.pagination .active a{
    background-color: #041C32;
    color: #fff;
}

.pagination .active a:hover{
    background-color: #eee;
    color: #333;
}