body{
    margin: 200px;
    background-color: var(--background_colour);
    color: var(--text_colour);
}

.games_desc_content{
    padding: 3px;
}
.game_title{
    text-align: left;
    font-size: 25px;
}

.game_trailer{
    width: 65%;
    position: relative;
    padding-bottom: 36.563%;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 40px;
    border-radius: 10px;
}

.game_trailer video{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}

.game_container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.right_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    background-color: aliceblue;
    padding: 10px;
    height: 100%;
    align-items: flex-end;
    box-sizing: border-box;

    border-radius: 10px;

}

.game_image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.desc_title{
    margin-right: 10px;
}

.tag_container{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    padding: 1px 10px; /* Adjust padding as needed */
    background-color: var(--tag_background);
    border: 2px solid var(--tag_text_colour);
    border-radius: 10px;
    font-size: 11px;
    color: var(--tag_text_colour);
    margin-right: 4px;
    margin-bottom: 4px;
}

.desc_ans{}

.about_game{
    margin-top: 80px;
    margin-bottom: 50px;
}

.reviews{
    margin-top: 100px;
}
.reviews_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.review_box{
    width: 45%;
    margin: 10px;
    background-color: var(--tag_background);;
    border: 2px solid var(--tag_text_colour);
    border-radius: 10px;
    padding: 10px;
    height: auto;
    overflow: hidden;
}

.review_post p{
    margin: 0;
    word-wrap: break-word;
}

.about_bottom_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.system_container{
    display: flex;
    flex-direction: column;
}
.system_requirements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.system_icons img{
    width: 24px;
    height: 24px;
}
.reco_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.reco_game {
    position: relative;
     /* Display as inline-block to ensure proper alignment */
    overflow: hidden; /* Hide overflowing content */
    margin-right: 20px;
}

.reco_game_image{
    border-radius: 10px;
    overflow: hidden;
}

.reco_game_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: filter 0.1s; /* Add transition for the filter property */
    border-radius: 10px;
}

.reco_game_image:hover img {
    filter: blur(10px); /* Apply blur effect on hover */
}

.reco_game_description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0; /* Fully visible by default */
}

.reco_game_description a{
    color: white;
    text-decoration: none;
}

.reco_game_description p{
    padding: 10px;
    font-size: 8px;
}
.reco_game:hover .reco_game_description {
    transform: translateY(0); /* Show description on hover */
    opacity: 1; /* Make the description fully visible */
}
.recommendation{
    margin-top: 100px;
}

.back_button_container{
    margin-top: 100px;
    background-color: var(--tag_background);
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    border-color: var(--tag_text_colour);
}

.back_button_container a{
    color: var(--text_colour);
    text-decoration: none;
}