@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --text_colour: black;
    --tag_background: bisque;
    --tag_text_colour: fuchsia;

}

body{
    font-family: "Roboto", "sans-serif";
}
