@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif
}


:root{
    --text_colour: black;
    --tag_background: bisque;
    --tag_text_colour: fuchsia;
    --background_colour: white;

}

body{
    font-family: "Roboto", "sans-serif";
}
