@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* || VARIABLES */
:root {
  /* || FONTS */
  --FF: 'Roboto', sans-serif;
  --FONT-SIZE: 20px;
  --SEARCH-CRITERIA-FONT-SIZE: 15px;

  /* || COLORS */
  --HEADER-BACKGROUND: #041C32;
  --HEADING-COLOR: #fff;
  --NAV-HOVER-COLOR: #c600d0;
  --SEARCHBOX-HOVER-COLOR: rgba(0, 0, 0, 0.1);

  /* || PADDING */
  --HEADER-PADDING: 20px 40px;
  --NAV-PADDING: 0 20px;
  --LOGO-RIGHT-PADDING: 50px;
  --SEARCHBOX-PADDING: 5px;
  --SEARCH-CRITERIA-PADDING: 5px;

  /* DIMENSIONS*/
  --HEADER-HEIGHT: 75px;
  --NAV-WIDTH: 35%;
  --HAMBURGER-WIDTH: 25px;
  --HAMBURGER-LINE-HEIGHT: 3px;
  --LOGO-WIDTH: 50px;
  --SEARCHBOX-BORDER-RADIUS: 5px;
  --SEARCH-BUTTON-LEFT-POSITION: 55%;
  --SEARCH-CRITERA-MARGIN-LR: 10px;

  /* || SHADOWS*/
  --SEARCH-CRITERIA-SHADOW: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* || BORDERS */
  --SEARCHBOX-BORDER: 1px solid white;

  /* || TRANSITIONS */
  --SITE-TRANSITION: 250ms ease;
  --SEARCHBOX-TRANSITION: opacity 250ms ease;
  --NAV-MARGIN: 200px;
}

/* || RESET */
* {
  margin: 0;
  padding: 0;
  font-family: var(--FF);
}

.header {
  z-index: 18;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--HEADER-PADDING);
  height: var(--HEADER-HEIGHT);
  background-color: var(--HEADER-BACKGROUND);
  color: var(--HEADING-COLOR);
  margin-bottom: 75px;
}

/* || NAVIGATION ELEMENTS */
.navigation {
  margin-left: var(--NAV-MARGIN);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: var(--NAV-WIDTH);
}

.nav__item {
  padding: var(--NAV-PADDING);
  font-size: var(--FONT-SIZE);
  min-width: fit-content;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.nav__item a {
  text-decoration: none;
  color: var(--HEADING-COLOR);
  font-weight: bold;
}

.nav__item a:hover {
  text-decoration: none;
  color: var(--NAV-HOVER-COLOR);
  font-weight: bold;
  transition: var(--SITE-TRANSITION);
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: var(--LOGO-RIGHT-PADDING);
}

.header__logo img {
  max-width: var(--LOGO-WIDTH);
  cursor: pointer;
}

/* || HAMBURGER MENU */
.header__hamburger {
  z-index: 9999;
  cursor: pointer;
  color: var(--HEADING-COLOR);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--FONT-SIZE);
  width: var(--HAMBURGER-WIDTH);
}

.hamburger__top,
.hamburger__middle,
.hamburger__bottom {
  z-index: 99999;
  background-color: var(--HEADING-COLOR);
  height: var(--HAMBURGER-LINE-HEIGHT);
  width: 100%;
  transform: translateY(0) rotateZ(0);
  display: flex;
  transition: var(--SITE-TRANSITION);
}

.rotate {
  transform: translateY(8.5px) rotateZ(45deg);
}

.hide {
  display: none;
}

.rotate-minus {
  transform: translateY(-8.5px) rotateZ(-45deg);
}

.search-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* || SEARCH BAR */
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: 40px;
}

.search-box {
  padding: var(--SEARCHBOX-PADDING);
  border: var(--SEARCHBOX-BORDER);
  border-radius: var(--SEARCHBOX-BORDER-RADIUS);
  background-color: transparent;
  color: var(--HEADING-COLOR);
  transition: var(--SITE-TRANSITION);
  width: 100%;
}

.search-box::placeholder {
  opacity: 1;
  color: var(--HEADING-COLOR);
}

.search-box:hover,
.search-icon:hover {
  background-color: var(--SEARCHBOX-HOVER-COLOR);
  transition: var(--SITE-TRANSITION);
}

.search-criteria-label:hover {
  background-color: var(--SEARCHBOX-HOVER-COLOR);
  transition: var(--SITE-TRANSITION);
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: var(--SEARCH-BUTTON-LEFT-POSITION);
  top: 1em;
  transform: translateY(-50%);
}

.search-button svg {
  width: var(--FONT-SIZE);
  height: var(--FONT-SIZE);
  transition: var(--SITE-TRANSITION);
  color: var(--HEADING-COLOR);
}

.search-button:hover svg {
  transition: var(--SITE-TRANSITION);
}


.search-box::placeholder {
  opacity: 1;
  transition: var(--SEARCHBOX-TRANSITION);
}


.search-bar:hover .search-box::placeholder,
.search-box:focus::placeholder {
  opacity: 0.8;
  transition: var(--SEARCHBOX-TRANSITION);
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.search-criteria-label {
  margin-left: var(--SEARCH-CRITERA-MARGIN-LR);
  display: block;
  position: relative;
}


.search-criteria-label::after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  right: var(--SEARCH-CRITERA-MARGIN-LR);
  transform: translateY(-50%);
  font-size: var(--SEARCH-CRITERIA-FONT-SIZE);
  pointer-events: none;
}


#search-criteria {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: var(--SEARCH-CRITERIA-PADDING);
  border-radius: var(--SEARCHBOX-BORDER-RADIUS);
  box-shadow: var(--SEARCH-CRITERIA-SHADOW);
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid white;
}

#search-criteria option {
  background-color: var(--HEADER-BACKGROUND);
}
