@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* || FONTS*/
  --FF: 'Roboto', sans-serif;
  --HEADING-FONT-SIZE: 1.5em;

  /* || COLORS */
  --SITE-BG-COLOR: #04293A;

  /* || PADDING */
  --MAIN-PADDING: 50px;

  /* || MARGINS */
  --NO-RESULT-MARGIN: 20px;
  --NO-RESULT-MARGIN-L: 50px;
  --HEADER-HEIGHT: 75px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--FF);
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

main {

  margin-top: var(--HEADER-HEIGHT);
  flex: 1;
  padding-bottom: var(--MAIN-PADDING);
  min-height: 100vh;
  background-color: var(--SITE-BG-COLOR);
}

.no-results {
  margin-top: var(--NO-RESULT-MARGIN);
}

.no-result-heading {
  font-size: var(--HEADING-FONT-SIZE);
  font-weight: 600;
}

.no-result-suggest {
  margin-top: var(--NO-RESULT-MARGIN);
  margin-left: var(--NO-RESULT-MARGIN-L);
}

.no-result-suggest-ul {
  list-style-type: square;
}