* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 50px;
  min-height: 100vh;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 15%;
}

.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: auto;
  width: 50%;
  border-radius: 12px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.hero-background {
  width: 100%;
  height: auto;
  z-index: 1;
}

.featured-games {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.featured-game {
  position: relative;
  width: 200px;
  margin: 0 20px;
}

.featured-game img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  text-align: center;
}

main {
  background-color: #04293A;
}

.about {
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  background-color: #064663;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.about__paragraph {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
  color: white;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

footer {
  margin-top: auto;
  background-color: #041C32;
  color: white;
  text-align: center;
  padding: 10px 0;
}
