* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 10px;
  background-color: darkblue;
  border-radius: 12px;
  padding: 25px;
}

.sidebar__section {
  padding: 0.5em;
}

.sidebar__ul {
  list-style: none;
}

.sidebar__heading {
  padding: 5px 0 5px 0;
}

.sidebar__li {
  padding: 2px;
}

.sidebar__li a {
  text-decoration: none;
  color: white;
}