<!DOCTYPE html>
<html lang="en-nz">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Kelvin Games"/>
  <meta name="description" content="This is the homepage for Kelvin Games"/>
  <link href="../../static/css/sidebar.css" rel="stylesheet"/>
  <link href="../../static/css/header.css" rel="stylesheet"/>
  <link href="../../static/css/footer.css" rel="stylesheet"/>
  <link href="../../static/css/index.css" rel="stylesheet"/>
  <script src="../../static/js/hamburger.js" defer></script>
  <title>Login/Register</title> {# TODO: change to dynamic title#}
</head>
<body>
{% include 'header.html' %}
{% include 'sidebar.html' %}
<main id="main">
  <h1 class="title">{{ title }}</h1>
  <form action="{{ handler_url }}" class="submitForm">
    {{ form._csrf }}
    <section class="field">
      {{ form.username.label }}
      {{ form.username }}
      {% if form.username.errors or username_error_message %}
        <ul class="errors">
          {% if username_error_message %}
            <li>
              {{ username_error_message }}
            </li>
          {% endif %}
          {% for usernameError in form.username.errors %}
            <li>
              {{ usernameError }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
    <section class="field">
      {{ form.password.label }}
      {{ form.password }}
      {% if form.password.errors or password_error_message %}
        <ul class="errors">
          {% if password_error_message %}
            <li>
              {{ password_error_message }}
            </li>
          {% endif %}
          {% for passwordError in form.password.errors %}
            <li>
              {{ passwordError }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
  {{ form.submit }}
  </form>
</main>
</body>
</html>